<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <link rel="stylesheet" th:href="@{/current.css}">
    <meta charset="UTF-8">
    <title th:text="${currentWeather.cityName} + ' - SkyCast'"></title>
    <link rel="icon" th:href="@{/images/favicon.ico}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="Header">
    <div class="Header_index">
        <a href="" class="Logo_link">
            <div class="Logo">
                <img th:src="@{/images/Logo_bar.png}" alt="">
            </div>
        </a>
        <div class="menu-bar">

            <form th:action="@{/weather/current/returnHome}"
                  method="GET">
                <input type="submit"
                       value="Главная"
                       class="Primary">
            </form>
            <form th:action="@{/weather/current/returnWeather}"
                  method="GET">
                <input type="submit"
                       value="Погода"
                       class="Weather">
            </form>
            <a href="" class="About_us">
                О нас
            </a>
        </div>
        <div class="Button_block">
            <div></div>
            <div class="header-menu">
                <a th:href="@{/account}" class="botton_acc">Личный кабинет</a>
            </div>
        </div>
    </div>
</header>


<div class="app-wrapper">
    <div class="elipse_1"></div>
    <div class="content">
        <div class="elipse_2"></div>
            <div class="city_span">
                <h1>Текущая погода в городе <span th:text="${currentWeather.cityName}"
                                                  class="city_name"></span></h1>
            </div>
            <div class="weather_information_block">
                <div class="data">
                        <div class="time">Сейчас <span th:text="${currentWeather.getTime()}" class="city_name" ></span></div>
                        <span th:text="${currentWeather.getDate()}" style="font-size: 35px"></span>
                </div>
                <div class = "line"></div>
                <div class = "temp">
                        <div class="tempCurrent">
                            <div class="temperature">Температура</div>
                            <span th:if="${currentWeather.getTemp_c() > 0}">
                                <span th:text="'+' + ${currentWeather.getTemp_c()} + '°'"></span>
<!--                                <img th:src="@{'http:'+ ${currentWeather.getCondition().getIcon()}}" class="weather_png">-->
                            </span>
<!-- <video class="weather_png" th:src="@{/images/sticker.webm}" controls autoplay loop muted style="border-radius: 20px"> </video>-->

                            <span th:unless="${currentWeather.getTemp_c() > 0}">
                                <span th:text="${currentWeather.getTemp_c()} + '°'"></span>
                                <img th:src="@{/images/weather.png}" class="weather_png">
                            </span>
                            </div>
                        <div class="tempFeelslike">
                            <span th:if="${currentWeather.getFeelslike_c() > 0}">
                                <span th:text="'Ощущается как +' + ${currentWeather.getFeelslike_c()} + '°'"></span>
                            </span>
                            <span th:unless="${currentWeather.getFeelslike_c() > 0}">
                                <span th:text="'Ощущается как ' + ${currentWeather.getFeelslike_c()} + '°'"></span>
                            </span>
                        </div>
<!--                        <div class="text-weather"><span th:text="${currentWeather.getCondition().getText()}"></span></div>-->
                </div>
                <div class = "line"></div>
                <div class="properties">
                    <img th:src="@{https://yastatic.net/weather/i/icons/confident/dark/svg/ic_wind.svg}" class="wind_img">
                        <span th:text="${currentWeather.getWind_kph()} + ' м/c, ' + ${currentWeather.getWind_dir()}" class="wind_text">ㅤ</span>

                    <img th:src="@{/images/kaplya.png}" class="properties_img">
                        <span th:text="${currentWeather.getHumidity()} + '%'" class="humidity_text">ㅤㅤ</span>

                    <img th:src="@{/images/barmetr.png}" class="properties_img">
                        <span th:text="${#numbers.formatInteger(currentWeather.getPressure_in() * 25.4, 3)} + ' мм рт. ст.'" class="pressure_text"></span>
                </div>
                <div class = "line"></div>
                <div class="map_properties">

                <div class="map-block"><img class="map" th:src="@{https://static-maps.yandex.ru/v1?ll=39.59,44.96&lang=ru_RU&size=550,350&z=9&apikey=c6fce154-a9a5-43ef-90a6-3332951a0507}"></div>
                    <div class="properties_add">
                        <div class="cloud"> <img th:src="@{/images/cloud.png}" class="cloud_png" alt=""> Облачность: <span class="cloud_val" th:text="${currentWeather.getCloud()} + '%'"></span></div>
                        <div class="gust"> <img th:src="@{/images/gust.png}" class="gust_png" alt=""> Порывы ветра: <span class="gust_val" th:text=" ${currentWeather.getGust_kph()} + ' км/ч'"></span></div>
                        <div class="precip"> <img th:src="@{/images/precip.png}" class="precip_png" alt=""> Осадки: <span class="precip_val" th:text=" ${currentWeather.getPrecip_mm()} + ' мм'"></span></div>
                        <div class="vis"> <img th:src="@{/images/eye.png}" class="vis_png" alt=""> Видимость: <span class="vis_val" th:text=" ${currentWeather.getVis_km()} + ' км'"></span></div>

                    </div>
                </div>
            </div>
    </div>
</div>

<div class="footer">

    <!-- FOOTER -->

    <div class="Footer_ar">
        <div class="navigate_bar">
            <a class="Logo_footer">
                <img th:src="@{/images/footer.png}" alt="">
            </a>
            <div class="inf_1">
                <div class="useful_assistant">Полезный помощник в вашем кармане</div>
                <div class="social_logo">

                    <div class="vk">
                        <a th:href="@{https://vk.com/club225712381}">
                            <img th:src="@{/images/vk.png}" alt="">
                        </a>
                    </div>

                    <div class="tg">
                        <a th:href="@{https://t.me/SkyCastApp}">
                            <img th:src="@{/images/tg.png}" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="inf_2">
                <div class="communication">Связь с нами:</div>
                <div class="number">Тел: 8-(960)-874-87-93</div>
                <div class="email_communication">Email: skycastapp@gmail.com</div>
            </div>
            <div class="inf_3">
                <div class="cmw">Написать нам:</div>
                <div class='social_logo'>
                    <div class="vk">
                        <a th:href="@{https://vk.com/club225712381}">
                            <img th:src="@{/images/vk.png}" alt="">
                        </a>
                    </div>
                    <div class="tg">
                        <a th:href="@{https://t.me/SkyCastApp}">
                            <img th:src="@{/images/tg.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="inf_4">
                <div class="repost">Поделитесь с друзьями</div>
                <div class="button_repost">
                    <a href="" class="botton_ar">
                        Поделиться
                    </a>
                </div>
            </div>
        </div>
        <div class="OpenWeatherApiInf">
            <div class="logo_ow">
                <img th:src="@{/images/ow.png}" alt="">
            </div>
            <div class="informaitionAPI">
                С использованием WeatherAPI – ведущим поставщиком данных о погоде, предоставляющий обширный
                набор API и инструментов для разработчиков и компаний, работающих с метеорологическими данными
            </div>
        </div>
    </div>
</div>
</body>