<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <link rel="stylesheet" th:href="@{/current.css}">
    <meta charset="UTF-8">
    <title th:text="${currentWeather.cityName} + ' - SkyCast'"></title>
    <link rel="icon" th:href="@{/images/favicon.ico}">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="Header">
    <div class="Header_index">
        <a href="" class="Logo_link">
            <div class="Logo">
                <img th:src="@{/images/Logo_bar.png}" alt="">
            </div>
        </a>
        <div class="menu-bar">

            <form th:action="@{/weather/current/returnHome}"
                  method="GET">
                <input type="submit"
                       value="Главная"
                       class="Primary">
            </form>
            <form th:action="@{/weather/current/returnWeather}"
                  method="GET">
                <input type="submit"
                       value="Погода"
                       class="Weather">
            </form>
            <a href="" class="About_us">
                О нас
            </a>
        </div>
        <div class="Button_block">
            <div></div>
            <div class="header-menu">
                <a th:href="@{/account}" class="botton_acc">Личный кабинет</a>
            </div>
        </div>
    </div>
</header>


<div class="app-wrapper">
    <div class="elipse_1"></div>
    <div class="content">
        <div class="elipse_2"></div>
        <div class="elipse_11"></div>
            <div class="city_span">
                <h1>Текущая погода в городе <span th:text="${currentWeather.getCityName()}"
                                                  class="city_name"></span></h1>
            </div>
            <div class="weather_information_block_1">
                <div class="data">
                        <div class="time">Сейчас <span th:text="${currentWeather.getTime()}" class="city_name" ></span></div>
                        <span th:text="${currentWeather.getDate()}" style="font-size: 35px"></span>
                </div>
                <div class = "line5"></div>
                <div class = "temp">
                        <div class="tempCurrent">

                            <div class="temperature">Температура<div class="line6"></div></div>
                            <div class="temp-card">
                                    <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                        <div class="temp-main">
                                            <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'" style="font-family: 'Unbounded'"></span>
                                            <img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" class="weather_png" alt="">
                                        </div>
                                    </span>
        <!-- <video class="weather_png" th:src="@{/images/sticker.webm}" controls autoplay loop muted style="border-radius: 20px"> </video>-->

                                    <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                        <div class="temp-main">
                                            <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°' "class="temp-main"></span>
                                            <img th:src="@{/images/currentWeather.png}" class="weather_png" alt="">
                                        </div>
                                    </span>


                                <div class="tempFeelslike">
                                    <span th:if="${currentWeather.getCurrent().getFeelslike_c() > 0}">
                                        <span th:text="'Ощущается как +' + ${currentWeather.getCurrent().getFeelslike_c()} + '°'"></span>
                                    </span>
                                    <span th:unless="${currentWeather.getCurrent().getFeelslike_c() > 0}">
                                        <span th:text="'Ощущается как ' + ${currentWeather.getCurrent().getFeelslike_c()} + '°'"></span>
                                    </span>
                                </div>
                                <div class="text-weather"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                            </div>
                    </div>
              
                <div class = "line"></div>
                <div class="properties">
                    <img th:src="@{https://yastatic.net/weather/i/icons/confident/dark/svg/ic_wind.svg}" class="wind_img">
                        <span th:text="${currentWeather.getCurrent().getWind_kph()} + ' м/c, ' + ${currentWeather.getCurrent().getWind_dir()}" class="wind_text">ㅤ</span>

                    <img th:src="@{/images/kaplya.png}" class="properties_img">
                        <span th:text="${currentWeather.getCurrent().getHumidity()} + '%'" class="humidity_text">ㅤㅤ</span>

                    <img th:src="@{/images/barmetr.png}" class="properties_img">
                        <span th:text="${#numbers.formatInteger(currentWeather.getCurrent().getPressure_in() * 25.4, 3)} + ' мм рт. ст.'" class="pressure_text"></span>
                </div>
                <div class="line"></div>
                <div class="forecast-hours_title">Прогоз погоды по <span class="forecast_title">ЧАСАМ</span><div class="line4"></div></div>
                <div class = "line1"></div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span>0</div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                        <div class="swiper-slide">
                            <div class="forecast-hours">
                                <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                                <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                                <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                            </div>
                            <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class = "line1"></div>
                    <div class="line7"></div>
                <div class="map_properties">

                    <div class="map-block">
                        <div class="text-geo">Геолокация города <span class="location_title" th:text="${currentWeather.cityName}"></span></div><div class = "line2"></div>

                        <img class="map"
                             th:src="@{https://static-maps.yandex.ru/v1?ll=} + ${currentWeather.getLocation().getLon()} + ',' + ${currentWeather.getLocation().getLat()}
                        + @{&lang=ru_RU&size=650,450&z=10&apikey=c6fce154-a9a5-43ef-90a6-3332951a0507}"></div>

                        <div class="properties_add">
                            <div class="met-prop">Метеорологические характеристики <div class = "line3"></div></div>
                            <div class="cloud"> <img th:src="@{/images/cloud.png}" class="cloud_png" alt=""> Облачность: <span class="cloud_val" th:text="${currentWeather.getCurrent().getCloud()} + '%'"></span></div>
                            <div class="gust"> <img th:src="@{/images/gust.png}" class="gust_png" alt=""> Порывы ветра: <span class="gust_val" th:text=" ${currentWeather.getCurrent().getGust_kph()} + ' км/ч'"></span></div>
                            <div class="precip"> <img th:src="@{/images/precip.png}" class="precip_png" alt=""> Осадки: <span class="precip_val" th:text=" ${currentWeather.getCurrent().getPrecip_mm()} + ' мм'"></span></div>
                            <div class="vis"> <img th:src="@{/images/eye.png}" class="vis_png" alt=""> Видимость: <span class="vis_val" th:text=" ${currentWeather.getCurrent().getVis_km()} + ' км'"></span></div>
                            <a th:href="@{/account}" class="favourites_button">В избранное</a>
                        </div>
                </div>
                    <div class="line7"></div>
            </div>
    </div>
        <h1>Прогноз погоды на <span class="city_name">2 ДНЯ</span> в городе <span th:text="${currentWeather.cityName}" class="city_name">2 дня</span>:</h1>
        <div class="weather_information_block_2">

        </div>
        <h1>Прогноз погоды на <span class="city_name">НЕДЕЛЮ</span> в городе <span th:text="${currentWeather.cityName}" class="city_name">2 дня</span>:</h1>
        <div class="weather_information_block_3">

            <div class = "line1"></div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span>0</div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="forecast-hours">
                            <div class="time-card"><span th:text="${currentWeather.getTime()}"></span></div>
                            <span th:if="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="'+' + ${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>

                            <span th:unless="${currentWeather.getCurrent().getTemp_c() > 0}">
                                    <div class="weather_forecast-hour_png"><img th:src="@{'http:'+ ${currentWeather.getCurrent().getCondition().getIcon()}}" alt=""></div>
                                    <span th:text="${currentWeather.getCurrent().getTemp_c()} + '°'"></span>
                            </span>
                        </div>
                        <div class="text-forecast"><span th:text="${currentWeather.getCurrent().getCondition().getText()}"></span></div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
            <div class = "line1"></div>

        </div>
</div><div class="elipse_10"></div>


<!-- Swiper JS -->
<script th:inline="javascript" th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

<!-- Initialize Swiper -->
<script th:inline="javascript">
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        slidesPerGroup: 5,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>





<div class="footer">

    <!-- FOOTER -->

    <div class="Footer_ar">
        <div class="navigate_bar">
            <a class="Logo_footer">
                <img th:src="@{/images/footer.png}" alt="">
            </a>
            <div class="inf_1">
                <div class="useful_assistant">Полезный помощник в вашем кармане</div>
                <div class="social_logo">

                    <div class="vk">
                        <a th:href="@{https://vk.com/club225712381}">
                            <img th:src="@{/images/vk.png}" alt="">
                        </a>
                    </div>

                    <div class="tg">
                        <a th:href="@{https://t.me/SkyCastApp}">
                            <img th:src="@{/images/tg.png}" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="inf_2">
                <div class="communication">Связь с нами:</div>
                <div class="number">Тел: 8-(960)-874-87-93</div>
                <div class="email_communication">Email: skycastapp@gmail.com</div>
            </div>
            <div class="inf_3">
                <div class="cmw">Написать нам:</div>
                <div class='social_logo'>
                    <div class="vk">
                        <a th:href="@{https://vk.com/club225712381}">
                            <img th:src="@{/images/vk.png}" alt="">
                        </a>
                    </div>
                    <div class="tg">
                        <a th:href="@{https://t.me/SkyCastApp}">
                            <img th:src="@{/images/tg.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="inf_4">
                <div class="repost">Поделитесь с друзьями</div>
                <div class="button_repost">
                    <a href="" class="botton_ar">
                        Поделиться
                    </a>
                </div>
            </div>
        </div>
        <div class="OpenWeatherApiInf">
            <div class="logo_ow">
                <img th:src="@{/images/ow.png}" alt="">
            </div>
            <div class="informaitionAPI">
                С использованием WeatherAPI – ведущим поставщиком данных о погоде, предоставляющий обширный
                набор API и инструментов для разработчиков и компаний, работающих с метеорологическими данными
            </div>
        </div>
    </div>
</div>
</body>