<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <link rel="stylesheet" th:href="@{/error.css}">
    <meta charset="UTF-8">
    <title>Техническая шоколадка - SkyCast</title>
    <link rel="icon" th:href="@{/images/favicon.ico}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="elipse_1"></div>
    <div class="elipse_1"></div>
    <h1 class="city_name">Штото пошло нитак!</h1>
    <p class="zoom-area"><b></b> Ашыпка - API адыхает! </p>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"> <video class="weather_png" th:src="@{/images/sticker.webm}" width="156px"  controls autoplay loop muted style= " pointer-events: none; border-radius: 200px"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>

    <div class="link-container">
        <form th:action="@{/quit_error}"
              method="POST">
            <input type="submit"
                   value="Назад"
                   class="button_acc">
        </form>
    </div>
</div>
</body>
</html>