<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <link rel="stylesheet" th:href="@{/home.css}">
    <meta charset="UTF-8">
    <title>SkyCast</title>
    <link rel="icon" th:href="@{/images/favicon.ico}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>

<!-- HEADER_HOME -->

<header class="Header">
    <div class="Header_index">
        <a href="" class="Logo_link">
            <div class="Logo">
                <img th:src="@{/images/Logo_bar.png}" alt="">
            </div>
        </a>
        <div class="menu-bar">
            <form th:action="@{/}"
                  method="GET">
                <input type="submit"
                       value="Главная"
                       class="Primary">
            </form>
            <form th:action="@{/weather}"
                  method="GET">
                <input type="submit"
                       value="Погода"
                       class="Weather">
            </form>
            <a href="" class="About_us">
                О нас
            </a>
        </div>
        <div class="Button_block">
            <div class="header-menu">
                <a th:href="@{/login}" class="botton_auth">Вход</a>
            </div>
            <div class="header-menu">
                <a th:href="@{/register}" class="botton_ar">Регистрация</a>
            </div>
        </div>
    </div>
</header>


<div class="app-wrapper">
    <div class="elipse_1"></div>
    <div class="content">
        <div class="elipse_2"></div>

        <!-- INFORMATION_INDEX -->

        <div class="block-main">
            <div class="skycast_title">
                <div class="skycast">
                    SKYCAST
                </div>
                <div class="skycast_info">
                    Это ваш персональный метеоролог и аналитик климата
                </div>
                <div class="arrow">
                    <img th:src="@{/images/arrow.png}" alt="">
                </div>

                <div class="info_img">
                    <div class="first_img">
                        <div class="window_rain">
                            <img th:src="@{/images/rain.png}" alt="">
                        </div>

                        <div class="right_block">
                            <div class="title_info">С SkyCast вы сможете:</div>

                            <div class="info_text_rain_1">
                                <div class="info-text">Получить точные прогнозы погоды:</div>
                                <div class="text_for_info">
                                    Мы предоставляем актуальные данные о погоде в любом городе мира,
                                    включая температуру, осадки, ветер, влажность, давление и многое другое.
                                </div>
                            </div>
                            <div class="info_text_rain_2">
                                <div class="info-text">Визуализировать данные:</div>
                                <div class="text_for_info">
                                    Удобные графики и диаграммы помогут вам легко анализировать изменения температуры,
                                    осадков и других климатических параметров в разных городах.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="last_img">
                        <div class="left_block">
                            <div class="info_text_city_1">
                                <div class="info-text">Планировать мероприятия:</div>
                                <div class="text_for_info">
                                    Учитывайте прогноз погоды при планировании пикников,
                                    походов, спортивных мероприятий и других активностей на свежем воздухе.
                                </div>
                            </div>
                            <div class="info_text_city_2">
                                <div class="info-text">Сравнить климат разных городов:</div>
                                <div class="text_for_info">
                                    Планируете поездку или переезд?
                                    Сравните климатические условия разных городов, чтобы выбрать оптимальное время для
                                    путешествия или оценить,
                                    подходит ли вам климат для постоянного проживания.
                                </div>
                            </div>
                        </div>
                        <div class="city_sky">
                            <img th:src="@{/images/city.png}" alt="">
                        </div>
                    </div>
                </div>


                <div class="OpenWeatherInf">
                    <div class="API">
                        API который мы используем
                    </div>
                    <div class="API_block">
                        <div class="first_row_API">
                            <div class="logo_ow_API">
                                <img th:src="@{/images/ow.png}" alt="">
                            </div>
                            <div class="text_for_info_API_1">
                                * Разнообразие источников данных: WeatherAPI использует данные из различных
                                источников, включая наземные метеостанции,
                                спутники и радары, чтобы обеспечить точность и надежность информации.
                            </div>
                        </div>
                        <div class="last_row_API">
                            <div class="text_for_info_API_2">
                                *Широкий спектр данных: WeatherAPI предоставляет доступ к широкому спектру данных,
                                включая текущую погоду, почасовые и ежедневные прогнозы,
                                исторические данные, карты погоды, данные о загрязнении воздуха и многое другое.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="weather_check">
                    <div class="check_now">
                        Посмотрите погоду сейчас
                    </div>
                    <div class="check_now_text_1">
                        Введите свой город или город,
                    </div>
                    <div class="check_now_text_2">
                        в котором вы хотите просмотреть погоду
                    </div>
                </div>
            </div>
        </div>

        <!-- WEATHER_BLOCK -->
    </div>
    <div class="button_weather">
        <form th:action="@{/start}" method="GET">
            <input type="submit" value="Посмотреть погоду" class="main_weather">
        </form>
    </div>
    <div class="elipse_3"></div>

    <div class="footer">

        <!-- FOOTER -->


        <div class="Footer_ar">
            <div class="navigate_bar">
                <a class="Logo_footer">
                    <img th:src="@{/images/footer.png}" alt="">
                </a>
                <div class="inf_1">
                    <div class="useful_assistant">Полезный помощник в вашем кармане</div>
                    <div class="social_logo">

                        <div class="vk">
                            <a th:href="@{https://vk.com/club225712381}">
                                <img th:src="@{/images/vk.png}" alt="">
                            </a>
                        </div>

                        <div class="tg">
                            <a th:href="@{https://t.me/SkyCastApp}">
                                <img th:src="@{/images/tg.png}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="inf_2">
                    <div class="communication">Связь с нами:</div>
                    <div class="number">Тел: 8-(960)-874-87-93</div>
                    <div class="email_communication">Email: skycastapp@gmail.com</div>
                </div>
                <div class="inf_3">
                    <div class="cmw">Написать нам:</div>
                    <div class='social_logo'>
                        <div class="vk">
                            <a th:href="@{https://vk.com/club225712381}">
                                <img th:src="@{/images/vk.png}" alt="">
                            </a>
                        </div>
                        <div class="tg">
                            <a href={'https://t.me/SkyCastApp'}>
                                <img th:src="@{/images/tg.png}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="inf_4">
                    <div class="repost">Поделитесь с друзьями</div>
                    <div class="button_repost">
                        <a href="" class="botton_ar">
                            Поделиться
                        </a>
                    </div>
                </div>
            </div>
            <div class="OpenWeatherApiInf">
                <div class="logo_ow">
                    <img th:src="@{/images/ow.png}" alt="">
                </div>
                <div class="informaitionAPI">
                    С использованием WeatherAPI – ведущим поставщиком данных о погоде, предоставляющий обширный
                    набор API и инструментов для разработчиков и компаний, работающих с метеорологическими данными
                </div>
            </div>
        </div>
    </div>

    <div class="elipse_5"></div>
</div>
</body>
</html>